#active {
  color: #C03221 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(39, 40, 34);
  color: white;
}

.my-4 {
  border-color: white;
}

.jumbotron {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/hero_image.jpg');
  background-size: cover;
}